<div class="container">
    <div class="title-container">
        <div class="title">Wrdl!</div>
        <div class="subtitle">
            Any letters you find that aren't in the word can't be used again!
        </div>
        <div *ngIf="GameBoard.GameComplete" class="solution-reveal">
            The solution was: {{GameBoard.Solution}}
        </div>
        <div class="set-mode-container">
            <div class="mode-label">Current mode:</div>
            <button class="mode-button" (click)=SwitchMode($event)
            [class.mode-daily]="GameBoard.DailyMode"
            [class.mode-infinite]="!GameBoard.DailyMode">
                <p *ngIf="GameBoard.DailyMode">Daily!</p>
                <p *ngIf="!GameBoard.DailyMode">Infinite!</p>
            </button>
        </div>
    </div>

    <div class="gameboard">
        <div class='attempt' *ngFor="let attempt of GameBoard.Attempts; let i = index">
            <div class='letter' (click)="SelectLetter(i, j, letter)" *ngFor="let letter of attempt.Letters; let j = index"
            [class.correct]="letter.Status === LetterStatus.Correct"
			[class.misplaced]="letter.Status === LetterStatus.Misplaced"
			[class.incorrect]="letter.Status === LetterStatus.Incorrect"
			[class.has-text]="letter.Letter !== ''"
            [class.selected]="i == GameBoard.CurrentAttempt && j == HighlightedLetter">
                {{letter.Letter}}
            </div>
        </div>
    </div>

    <app-keyboard-ui (keyClick)="HandleInput($event)" [letterStates]="GameBoard.LetterStates"></app-keyboard-ui>
    
</div>