.keyboard-container {
    padding: 12px 12px 0 12px;
    border-bottom: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    //height: 30%;    
    height: 140px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);

    .key-row {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        margin-bottom: 4px;

        .key {
            color: black;
            background-color: white;
            width: 60px;
            height: 40px;
            //background-color: #ddd;
            box-sizing: border-box;
            border: 2px solid #daa;
            margin: 0 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            //font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .tried {
            background-color: red;
            visibility: hidden;
        }

        .partial {
            background-color: rgb(255, 234, 0);;
        }

        .correct {
            background-color: rgb(42, 203, 42);
        }
    }


}